@model AlugaiWEB.Models.DespesasModel

@{
    ViewData["Title"] = "Create";
    Layout = "_MeusDados";


}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoDespesas" class="control-label"></label>
                <input asp-for="CodigoDespesas" class="form-control" />
                <span asp-validation-for="CodigoDespesas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoDespesa" class="control-label"></label>
                <input asp-for="DescricaoDespesa" class="form-control" />
                <span asp-validation-for="DescricaoDespesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeDespesa" class="control-label"></label>
                <input asp-for="TipoDeDespesa" class="form-control" />
                <span asp-validation-for="TipoDeDespesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoImovel" class="control-label"></label>
                <select asp-for="CodigoImovel" asp-items="ViewBag.IdImovel" class="form-control"></select>
                <span asp-validation-for="CodigoImovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
