@model AlugaiWEB.Models.AnuncioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AnuncioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoAnuncio" class="control-label"></label>
                <input asp-for="CodigoAnuncio" class="form-control" />
                <span asp-validation-for="CodigoAnuncio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeAnuncio" class="control-label"></label>
                <input asp-for="TipoDeAnuncio" class="form-control" />
                <span asp-validation-for="TipoDeAnuncio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoImovel" class="control-label"></label>
                <select asp-for="CodigoImovel" asp-items="ViewBag.IdImovel" class="form-control"></select>
                <span asp-validation-for="CodigoImovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPessoa" class="control-label"></label>
                <select asp-for="CodigoPessoa" asp-items="ViewBag.IdPessoa" class="form-control"></select>
                <span asp-validation-for="CodigoPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
