<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />

    <!-- Smartlook - Usability Test -->
    <script type='text/javascript'>
        window.smartlook || (function (d) {
            var o = smartlook = function () { o.api.push(arguments) }, h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script'); o.api = new Array(); c.async = true; c.type = 'text/javascript';
            c.charset = 'utf-8'; c.src = 'https://rec.smartlook.com/recorder.js'; h.appendChild(c);
        })(document);
        smartlook('init', '6b973b8a8a1e447616ee7bd3c89e3d580e8c0f40');
    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">

            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <img src="~/imagens/logo.png" class="img-fluid" width="150">
                </a>

                <!--Menu Hamburguer-->
                <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-navegacao">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex justify-content-end" id="nav-navegacao">
                    <!--Inicio Barra de navegação-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Anuncio" asp-action="Index" class="nav-link">Anunciar</a>
                        </li>

                        <li>
                            <div class="dropdown logoff" style="margin: auto 0;">
                                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-img" src="../imagens/user.png">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/">Sair</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div> <!--Fim Barra de navegação-->

            </div>
            <!--Logo-->

        </nav>
    </header>

    <div class="d-flex" id="wrapper" style="padding:0;">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Alugaí</div>
            <div class="list-group list-group-flush">

                <a class="list-group-item list-group-item-action bg-light" asp-controller="Pessoa" asp-action="Index">Minha Conta</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Imovel" asp-action="Index">Resumo</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Pessoa" asp-action="Index">Meus Dados</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Imovel" asp-action="Index">Meus Imoveis</a>
                <a class="list-group-item list-group-item-action bg-light" asp-controller="Aluguel" asp-action="Index">Meus Alugueis</a>

            </div>
        </div>

        <div id="page-content-wrapper">
            <button class="btn btn-primary mt-2 ml-2" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <div class="p-3">
                @RenderBody()

            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AlugaiWEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.inputmask.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cep.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


