@model AlugaiWEB.Models.PagamentoModelcs

@{
    ViewData["Title"] = "Edit";
    Layout = "_MeusDados";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoPagamento" class="control-label"></label>
                <input asp-for="CodigoPagamento" class="form-control" />
                <span asp-validation-for="CodigoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVencimento" class="control-label"></label>
                <input asp-for="DataVencimento" class="form-control" />
                <span asp-validation-for="DataVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaDePagamento" class="control-label"></label>
                <input asp-for="FormaDePagamento" class="form-control" />
                <span asp-validation-for="FormaDePagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoAluguel" class="control-label"></label>
                <select asp-for="CodigoAluguel" asp-items="ViewBag.IdAluguel" class="form-control"></select>
                <span asp-validation-for="CodigoAluguel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
