@{
    ViewData["Title"] = "Sistema Gerenciador de vendas e alugueis de imóveis";
}

<div class="">
    <div class="row">
        <div class="col-md-9">
            <h4>429.792 imóveis para alugar</h4>
        </div>

        <div class="col-md-3 ">
            <label for="tipoOrdenacao">Ordenar Por</label>
            <select class="form-select" id="tipoOrdenacao">
                <option>CASA</option>
                <option>APARTAMENTO</option>
                <option>SALÃO DE FESTAS</option>
            </select>
        </div>
    </div>
</div>

<hr />

<div class="card-container" style="margin-top: 70px">
    @for(int i = 0; i < 16; i++) {
    <div class="card-item">
        <img src="~/imagens/casa01.jpg" class="img" alt="...">
        <div class="card-content">
            <h4>Casa para alugar</h4>

            <div class="icons">
                <i class="fas fa-car"></i>
                2
                <i class="fas fa-bath"></i>
                2
                <i class="far fa-clone"></i>
                70m²
            </div>

            <div class="address">
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    Itabaiana - Rotary Club
                </p>
                <p>Avenida João Teixeira Nº 1149</p>
            </div>

            <p class="price">R$450,00</p>
        </div>
    </div>
    }
</div>
